.footer-button-cart {
    background-color: blue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.unit-nav-icon{
    background-color: blue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.logo{
    background-color: rgb(120, 112, 112);
}